<div class="container">
    <div class="row">
        {{#if logged_in}}
        {{else}}
        <div class="col-md-6 mx-auto text-left mt-5">
            <h1 class="text-center">Top 20 Books</h1>
            {{#if bookDisplay.length}}
                {{#each bookDisplay as |Book|}}
                    {{> bookListing book=book}}
                    <br>
                {{/each}}
            {{/if}}
        </div>
        <div class="col-md-6 mx-auto text-left mt-5">
            <h1 class="text-center">Most Recently Read</h1>
            {{#if bookreadDisplay.length}}
                {{#each bookreadDisplay as |BooksRead|}}
                    {{> editionListing booksread=booksread}}
                    <br>
                {{/each}}
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>

{{!-- <script src="/js/dashboard.js"></script> --}}