.book .card {
    background: beige;
}
.booksread .card {
    background: rgb(180, 209, 235);
}
nav {
    background-color: #333;
    margin-bottom: 15px;
    padding: 5px 15px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    float: left;
    align-content: center;
}
nav a {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

nav li a:hover {
    background: #111;
}

nav li span {
    color: white;
    margin-right: 20px;
}

.nav-right {
    margin-left: auto;
}


